//TOP HEADER
.home-vifin,
.timesheet-vifin,
.profile-vifin,
.employees-vifin,
.projects-vifin {
    .top-head-text-col {
        margin-right: -4%;
    }
    .icon-home-vifin-head {
        font-size: 2rem;
    }
    .top-head-vifin-col {
        align-items: baseline;
    }
}
