//TOP HEADER
.home-vifin,
.timesheet-vifin,
.profile-vifin,
.employees-vifin,
.projects-vifin {
    .top-head-text-col {
        margin-right: -5%;
    }
    .icon-home-vifin-head {
        font-size: 2rem;
    }
    .top-head-vifin-col {
        align-items: baseline;
    }
}

//HOME
.card-col-vifin {
    border: none;
}
.card-vifin {
    background-color: $vifin-light-grey;
    box-shadow: $box-shadow;
    text-align: center;
    padding: 10%;
    p {
        font-size: 1.5rem;
        line-height: normal;
    }
    a {
        i {
            color: $vifin-aqua;
        }
        p {
            color: $vifin-dark-grey;
        }
    }
    a:hover {
        text-decoration: none;
    }
}
.card-icon-vifin {
    font-size: 4rem;
}

//TIMESHEET-HOME

//PROJECTS
.projects-vifin {
    .login-form {
        text-align: left;
    }
}
